.Bdc\(\#eee\) {
  border-color: #eee;
}
.Bdc\(\#ddd\) {
  border-color: #ddd;
}
.Bdc\(\#273340\) {
  border-color: #273340;
}
.Bds\(s\) {
  border-style: solid;
}
.Bdw\(1px\) {
  border-width: 1px;
}
.Bdbw\(0\) {
  border-bottom-width: 0;
}
.Bdrs\(5px\) {
  border-radius: 5px;
}
.Bdrstend\(4px\) {
  border-top-right-radius: 4px;
}
.Bdrsbend\(4px\) {
  border-bottom-right-radius: 4px;
}
.Bdrsbstart\(4px\) {
  border-bottom-left-radius: 4px;
}
.Bdrststart\(4px\) {
  border-top-left-radius: 4px;
}
.Bgc\(\#ddd\) {
  background-color: #ddd;
}
.Bgc\(white\) {
  background-color: white;
}
.Bgc\(\#334455\) {
  background-color: #334455;
}
.C\(\#000\) {
  color: #000;
}
.C\(\#fff\) {
  color: #fff;
}
.C\(\#777\) {
  color: #777;
}
.C\(\#3c763d\) {
  color: #3c763d;
}
.D\(b\) {
  display: block;
}
.Fw\(500\) {
  font-weight: 500;
}
.Fw\(600\) {
  font-weight: 600;
}
.Fz\(36px\) {
  font-size: 36px;
}
.Fz\(18px\) {
  font-size: 18px;
}
.Fz\(16px\) {
  font-size: 16px;
}
.Fz\(20px\) {
  font-size: 20px;
}
.Fz\(30px\) {
  font-size: 30px;
}
.Fz\(22px\) {
  font-size: 22px;
}
.My\(20px\), .Mt\(20px\) {
  margin-top: 20px;
}
.My\(20px\) {
  margin-bottom: 20px;
}
.Mt\(-20px\) {
  margin-top: -20px;
}
.Mt\(5px\) {
  margin-top: 5px;
}
.Mt\(80px\) {
  margin-top: 80px;
}
.Mt\(10px\) {
  margin-top: 10px;
}
.Mt\(40px\) {
  margin-top: 40px;
}
.Mb\(240px\) {
  margin-bottom: 240px;
}
.Mb\(80px\) {
  margin-bottom: 80px;
}
.Mb\(10px\) {
  margin-bottom: 10px;
}
.Mb\(50px\) {
  margin-bottom: 50px;
}
.Mb\(5px\) {
  margin-bottom: 5px;
}
.Mstart\(5px\) {
  margin-left: 5px;
}
.Mstart\(20px\) {
  margin-left: 20px;
}
.P\(15px\) {
  padding: 15px;
}
.P\(20px\) {
  padding: 20px;
}
.Px\(150px\) {
  padding-left: 150px;
  padding-right: 150px;
}
.Px\(15px\) {
  padding-left: 15px;
  padding-right: 15px;
}
.Px\(20px\) {
  padding-left: 20px;
  padding-right: 20px;
}
.Py\(8px\) {
  padding-top: 8px;
  padding-bottom: 8px;
}
.Py\(10px\) {
  padding-top: 10px;
  padding-bottom: 10px;
}
.Py\(22px\) {
  padding-top: 22px;
  padding-bottom: 22px;
}
.Ta\(c\) {
  text-align: center;
}
.Ta\(s\) {
  text-align: start;
}
.W\(100\%\) {
  width: 100%;
}
