*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: "Times New Roman";
}

.setting {
  div[active="activePill"]{
    display: flex;
    .nav-pills{
      width: 250px;
      a{
        background-color: #26323f;
        color: #fff;
        border-radius: 0;
      }
      li{
        margin-top: 0 !important;
        &.active a {
          background-color: #fff;
          color: #000;
        }
      }
    }
    .tab-content{
      padding: 20px;
      flex-grow: 1;
    }
  }
}