$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$navbar-default-bg: #334455;
$navbar-default-border: #273340;
$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #b7cedf;
$navbar-default-link-active-bg: transparent;
$navbar-default-link-active-color: #fff;
$navbar-border-radius: 0;