<div class="housekeeping">
    <h1>Housekeeping Settings</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form>
        <div class="form-group form-inline">
            <input type="checkbox">
            Mark all rooms as "clean" after
            <input type="text" class="form-control">
            :
            <input type="text" class="form-control">
            <select name="" id="" class="form-control">
                <option value="aaa"></option>
                <option value="bbb"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="" class="control-label">Housekeeping Report</label>
            <div class="form-inline">
                Change staying guests' bed sheets every
                <input type="text" class="form-control">
                days
            </div>
            <div class="help-block">
                * For example, if the number of days is set as "4" and there is a guest is staying From 2012-Oct-1 to 2012-Oct 10, the Housekeeping report will say "Change Sheets" for that guest's room for 2012-Oct-5 and 2012-Oct-9<br/>** To disable this feature, enter "0" as the number of the days.
            </div>
        </div>
    </form>
</div>