<div class="room">
    <h1>Room Settings</h1>
    <button class="btn btn-primary">Add Room</button>
    <button class="btn btn-default">Save All</button>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <table class="table table-hover">
        <tbody>
        <tr>
            <th>
                Room Name
            </th>
            <th>
                Room Type
            </th>
            <th>
                Housekeeping Group
            </th>
            <th class="text-center">
                <input type="checkbox"> Can Be sold online
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </td>
            <td>
                <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </td>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" class="form-control">
            </td>
            <td>
                <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </td>
            <td>
                <select name="" id="" class="form-control">
                    <option value=""></option>
                    <option value=""></option>
                </select>
            </td>
            <td class="text-center">
                <input type="checkbox">
            </td>
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>