<div class="login col-md-12 margin-bottom-80">
    <div class="row">
        <a href="#" class="display-block margin-top-80">
            <img src="https://v2.roomsy.com//images/roomsy-logo-big.jpg" alt="ROMSY">
        </a>
    </div>
    <div class="row">
        <h1 class="font-size-36 font-weight-600 margin-bottom-10">Roomsy Login</h1>
        <form class="col-md-offset-4 col-md-4">
            <div class="form-group">
                <input type="email" class="form-control font-size-16" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control font-size-16" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default btn-login font-size-18 font-weight-500">Log In</button>
        </form>
    </div>
    <div class="row">
        <a data-ui-sref="base2.forgotpassword" class="display-block margin-top-20 font-size-18">Forgot Password?</a>
        <a data-ui-sref="base2.register" class="display-block margin-top-5 font-size-18">Don't have an account? Sign-up with us!</a>
    </div>
</div>