<div class="accountsetting col-md-12">
    <div class="row">
        <div class="Bgc(#ddd) Mt(-20px)">
            <div class="clearfix Px(150px)">
                <ul class="clearfix Bgc(#DDD) Mt(5px) Fz(16px)">
                    <li class="pull-left D(b)"><a data-ui-sref="base3.accountsetting.password" class="D(b) Py(8px) Px(15px) Bgc(white) Fw(600) C(#000)">Password</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.accountsetting.language" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)">Language</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.accountsetting.subscription" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)">Subscription</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <data-ui-view name="accountsetting"></data-ui-view>
    </div>
</div>