<div class="password Mb(240px) Px(20px)">
    <h1 class="Fz(36px) Fw(500) Mt(20px)">PASSWORD</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>

    <form class="form-horizontal col-md-offset-2 col-md-9 Mt(20px)">
        <div class="form-group">
            <label for="" class="control-label col-md-3 Fw(600)">Old Password</label>
            <div class="col-md-9">
                <input id="oldPassword" name="oldPassword" ng-model="oldPassword" type="text" class="form-control" placeholder="Old Password">
            </div>
        </div>
        <div id="oldPasswordAlert" style="color:red; text-align: right; padding-bottom: 10px;" ng-show="oldPassStt">Password has at least 6 characters</div>
        <div class="form-group">
            <label for="" class="control-label col-md-3 Fw(600)">New Password</label>
            <div class="col-md-9">
                <input id="newPassword" name="newPassword" ng-model="newPassword" type="text" class="form-control" placeholder="New Password">
            </div>
        </div>
        <div id="newPasswordAlert" style="color:red; text-align: right; padding-bottom: 10px;" ng-show="newPassStt">Password has at least 6 characters</div>
        <div class="form-group">
            <label for="" class="control-label col-md-3 Fw(600)">Confirm New Password</label>
            <div class="col-md-9">
                <input id="confirmPassword" name="confirmPassword" ng-model="confirmPassword" type="text" class="form-control" placeholder="Confirm New Password">
            </div>
        </div>
        <div id="confPasswordAlert" style="color:red; text-align: right; padding-bottom: 10px;" ng-show="confPassStt">Password has at least 6 characters</div>
        <div id="confPasswordAlert2" style="color:red; text-align: right; padding-bottom: 10px;" ng-show="confPassStt2">Confirming Password is not correct!</div>
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button class="btn btn-primary" ng-click="clickChangePassword()">Update</button>
            </div>
        </div>
    </form>
</div>