<div class="password Mb(240px) Px(20px)" >
    <h1 class="Fz(36px) Fw(500) Mt(20px)">MY SUBSCRIPTION INFORMATION</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form class="form-horizontal container Mt(20px)"
    novalidate
    name="vm.subscriptionForm.$selector">
        <div class="form-group">
            <p class="Fz(30px)">Please select a subscription</p>
            <p class="Mt(20px)">Current number of rooms: <span class="Fw(600)">{{::vm.subscriptionForm.data.other.numberOfRooms}}</span></p>
        </div>
        <div class="form-group">
            <label for="" class="control-label">Please select your region</label>
            <select class="form-control Mt(5px)"
                    name="regionId"
                    ng-model="vm.subscriptionForm.data.property.regionId"
            data-ng-options="region.id as region.name for (id, region) in vm.regionList">
                <option value="">-- select region</option>
            </select>
        </div>
        <div class="form-group Mt(20px)">
            <p>Please select plan</p>
            <select class="form-control Mt(5px)" name="pricingPlanId"
                    ng-model="vm.subscriptionForm.data.property.pricingPlanId"
                    data-ng-options="pricing.id as pricing.name for (id, pricing) in vm.pricingList">
                <option value="">-- select pricing</option>
            </select>
        </div>
        <div class="form-group Mt(20px)">
            <button class="btn btn-primary"ng-click="vm.ok(vm.subscriptionForm)">Update</button>
        </div>
    </form>
</div>
