<div class="password Mb(240px)">
    <h1 class="Fz(36px) Fw(500) Mt(20px) Mstart(20px)">MY SUBSCRITION INFORMATION</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form class="form-horizontal container Mt(20px)">
        <div class="form-group">
            <p>Please select a subscription</p>
        </div>
        <div class="form-group">
            <p>Current number of rooms: 2</p>
        </div>
        <div class="form-group">
            <label for="" class="control-label Fw(600)">Please select your region</label>
            <select class="form-control" name="region" id="region">
                <option value="">North America</option>
                <option value="ANZ">Australia and New Zealand</option>
                <option value="ASIA">Asia</option>
                <option value="">Europe and Africa</option>
            </select>
        </div>
        <div class="form-group">
            <p>Please select plan</p>
        </div>
    </form>
</div>