<div class="password Mb(240px) Px(20px)">
    <h1 class="Fz(36px) Fw(500) Mt(20px)">MY SUBSCRIPTION INFORMATION</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form class="form-horizontal container Mt(20px)">
        <div class="form-group">
            <p class="Fz(30px)">Please select a subscription</p>
            <p class="Mt(20px)">Current number of rooms: <span class="Fw(600)">2</span></p>
        </div>
        <div class="form-group">
            <label for="" class="control-label">Please select your region</label>
            <select class="form-control Mt(5px)" name="region" id="region" ng-model="vm.region">
                <option selected="selected" value="NA">North America</option>
                <option value="ANZ">Australia and New Zealand</option>
                <option value="ASIA">Asia</option>
                <option value="EA">Europe and Africa</option>
            </select>
        </div>
        <div class="form-group Mt(20px)">
            <p>Please select plan</p>
            <div class="radio">
                <label><input type="radio" checked="vm.basic" ng-click="vm.basicFuntion()" name="optradio">Basic</label>
            </div>
            <div class="radio">
                <label><input type="radio" checked="vm.monthly" ng-click="vm.monthlyFuntion()" name="optradio">Premium-monthly</label>
            </div>
            <div class="radio">
                <label><input type="radio" checked="vm.yearly" ng-click="vm.yearlyFuntion()" name="optradio">Premium-yearly</label>
            </div>
        </div>
        <div class="form-group Mt(20px)">
            <button class="btn btn-primary"ng-click="vm.ok()">Sign Up</button>
        </div>
    </form>
</div>
