<div class="confirmnewpassword col-md-12 Mb(80px)">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3 Bdc(#ddd) Bds(s) Bdw(1px) Px(50px) Py(40px) Ta(s) Mt(50px)">
        <h1 class="Fw(600) Fz(36px)">Roomsy Account Reset</h1>
        <p class="Mt(10px)">To activate your Roomsy account, you will need to set a password.</p>
        <form name="vm.confirmNewPasswordForm.$selector"
              novalidate>
            <table class="Mt(20px)">
                <tr>
                    <td>
                        <label for="" class="Fw(600)">New Password</label>
                    </td>
                    <td class="Pstart(10px)">
                        <input type="password"
                               name="newPassword"
                               data-ng-model="vm.confirmNewPasswordForm.data.newPassword"
                               data-ng-required="true"
                               data-ng-minlength="6">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="" class="Fw(600)">Confirm New Password</label>
                    </td>
                    <td class="Pstart(10px)">
                        <input type="password"
                               name="rePassword"
                               data-ng-model="vm.confirmNewPasswordForm.data.rePassword"
                               data-ng-required="true"
                               data-ng-minlength="6">
                    </td>
                </tr>
            </table>
        </form>
        <p class="Mt(10px)">By clicking 'I accept' below, you are agreeing to the Roomsy Terms of Service.</p>
        <button data-ng-click="vm.onAcceptButton_Click()"
                class="btn btn-primary Mt(10px)">I accept</button>
    </div>
</div>