<div class="company">
    <uib-tabset
            active="activePill"
            vertical="true"
            type="pills">
        <uib-tab index="0" heading="General Information">
            <ng-include src="'setting/templates/company/generalinfomation.html'"></ng-include>
        </uib-tab>
        <uib-tab index="1" heading="Employees">
            <ng-include src="'setting/templates/company/employees.html'"></ng-include>
        </uib-tab>
        <uib-tab index="2" heading="Night Audit & Date">
            <ng-include src="'setting/templates/company/nightauditdate.html'"></ng-include>
        </uib-tab>
        <uib-tab index="3" heading="Policies">
            <ng-include src="'setting/templates/company/policies.html'"></ng-include>
        </uib-tab>
    </uib-tabset>
</div>