<div class="email">
    <uib-tabset
            active="activePill"
            vertical="true"
            type="pills">
        <uib-tab index="0" heading="Invoice Email"
        data-ng-click="vm.onInvoiceEmailTab_Click()">
            <ng-include src="'setting/templates/email/invoiceemail.html'"></ng-include>
        </uib-tab>
        <uib-tab index="1" heading="Booking Confirmation Email"
        data-ng-click="vm.onBookingConfirmationEmailTab_Click()">
            <ng-include src="'setting/templates/email/bookconfirmationemail.html'"></ng-include>
        </uib-tab>
    </uib-tabset>
</div>