<div class="setting col-md-12 Mb(80px)">
    <div class="row">
        <div class="Bgc(#ddd) Mt(-20px)">
            <div class="clearfix Px(150px)">
                <ul class="clearfix Bgc(#ddd) Mt(5px) Fz(16px)">
                    <li class="pull-left D(b)"><a data-ui-sref="base3.setting.company" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Company</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.accountsetting.language" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Accounting</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.accountsetting.subscription" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Email</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.setting.rooms" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Rooms</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.accountsetting.subscription" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Rates</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.accountsetting.subscription" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Booking Channels</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.accountsetting.subscription" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Website</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <data-ui-view name="setting"></data-ui-view>
    </div>
</div>