<div class="rateplans">
    <h1 class="Fz(30px) Fw(600)">Rate Plan Settings</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <div class="row Mt(20px)">
        <div class="col-md-3">
            <button class="btn btn-primary">New Room Type (1)</button>
        </div>
        <div class="col-md-9">
            <button class="btn btn-primary">Add Rate Plan</button>
            <form class="form-horizontal Bds(s) Bdw(1px) Bdc(#000000) Bdrs(5px) Mt(20px) P(20px)">
                <div class="form-group">
                    <label for="" class="control-label col-md-3">Rate Plan Name</label>
                    <div class="col-md-6">
                        <input type="text" placeholder="New Rate Plan" class="form-control">
                    </div>
                    <div class="col-md-3">
                        <div class="btn-group pull-right">
                            <a href="https://v2.roomsy.com/settings/rates/edit_rates/154615" class="btn btn-success">Edit Rates</a>
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                More
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right other-actions" role="menu">
                                <li class="image-group" id="1476047494">
                                    <a href="#" class="add-image" data-toggle="modal" data-target="#image_edit_modal">
                                        Add Image
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="replicate-rate-plan-button">
                                        Replicate (Make a copy)
                                    </a>
                                </li><li>
                                <a href="#" class="delete-rate-plan-button">Delete</a>
                            </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                        Settings
                    </label>
                    <div class="col-md-3">
                        <select name="room-type-id" class="form-control">
                            <option>--Select Room Type--</option>
                            <option value="8490022279" selected="SELECTED">New Room Type</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select name="charge-type-id" class="form-control">
                            <option>--Select Charge Type--</option>
                            <option value="8490026128" selected="SELECTED">Room Charge</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <select name="currency-id" class="form-control">
                            <option>--Select Currency--</option>
                            <option value="177">XUA (ADB Unit of Account)</option>
                            <option value="2">AFN (Afghani)</option>
                            <option value="45">DZD (Algerian Dinar)</option>
                            <option value="7">ARS (Argentine Peso)</option>
                            <option value="4">AMD (Armenian Dram)</option>
                            <option value="9">AWG (Aruban Florin)</option>
                            <option value="8">AUD (Australian Dollar)</option>
                            <option value="10">AZN (Azerbaijanian Manat)</option>
                            <option value="22">BSD (Bahamian Dollar)</option>
                            <option value="15">BHD (Bahraini Dinar)</option>
                            <option value="140">THB (Baht)</option>
                            <option value="113">PAB (Balboa)</option>
                            <option value="12">BBD (Barbados Dollar)</option>
                            <option value="25">BYR (Belarussian Ruble)</option>
                            <option value="26">BZD (Belize Dollar)</option>
                            <option value="17">BMD (Bermudian Dollar)</option>
                            <option value="157">VEF (Bolivar)</option>
                            <option value="19">BOB (Boliviano)</option>
                            <option value="21">BRL (Brazilian Real)</option>
                            <option value="18">BND (Brunei Dollar)</option>
                            <option value="14">BGN (Bulgarian Lev)</option>
                            <option value="16">BIF (Burundi Franc)</option>
                            <option value="27">CAD (Canadian Dollar)</option>
                            <option value="40">CVE (Cape Verde Escudo)</option>
                            <option value="81">KYD (Cayman Islands Dollar)</option>
                            <option value="171">XOF (CFA Franc BCEAO)</option>
                            <option value="161">XAF (CFA Franc BEAC)</option>
                            <option value="173">XPF (CFP Franc)</option>
                            <option value="33">CLP (Chilean Peso)</option>
                            <option value="35">COP (Colombian Peso)</option>
                            <option value="77">KMF (Comoro Franc)</option>
                            <option value="28">CDF (Congolese Franc)</option>
                            <option value="11">BAM (Convertible Mark)</option>
                            <option value="108">NIO (Cordoba Oro)</option>
                            <option value="37">CRC (Costa Rican Colon)</option>
                            <option value="62">HRK (Croatian Kuna)</option>
                            <option value="39">CUP (Cuban Peso)</option>
                            <option value="1">cur (currency_name)</option>
                            <option value="41">CZK (Czech Koruna)</option>
                            <option value="56">GMD (Dalasi)</option>
                            <option value="43">DKK (Danish Krone)</option>
                            <option value="94">MKD (Denar)</option>
                            <option value="42">DJF (Djibouti Franc)</option>
                            <option value="136">STD (Dobra)</option>
                            <option value="44">DOP (Dominican Peso)</option>
                            <option value="158">VND (Dong)</option>
                            <option value="168">XCD (East Caribbean Dollar)</option>
                            <option value="46">EGP (Egyptian Pound)</option>
                            <option value="137">SVC (El Salvador Colon)</option>
                            <option value="48">ETB (Ethiopian Birr)</option>
                            <option value="49">EUR (Euro)</option>
                            <option value="51">FKP (Falkland Islands Pound)</option>
                            <option value="50">FJD (Fiji Dollar)</option>
                            <option value="64">HUF (Forint)</option>
                            <option value="54">GHS (Ghana Cedi)</option>
                            <option value="55">GIP (Gibraltar Pound)</option>
                            <option value="163">XAU (Gold)</option>
                            <option value="63">HTG (Gourde)</option>
                            <option value="119">PYG (Guarani)</option>
                            <option value="57">GNF (Guinea Franc)</option>
                            <option value="59">GYD (Guyana Dollar)</option>
                            <option value="60">HKD (Hong Kong Dollar)</option>
                            <option value="149">UAH (Hryvnia)</option>
                            <option value="70">ISK (Iceland Krona)</option>
                            <option value="67">INR (Indian Rupee)</option>
                            <option value="69">IRR (Iranian Rial)</option>
                            <option value="68">IQD (Iraqi Dinar)</option>
                            <option value="71">JMD (Jamaican Dollar)</option>
                            <option value="72">JOD (Jordanian Dinar)</option>
                            <option value="74">KES (Kenyan Shilling)</option>
                            <option value="115">PGK (Kina)</option>
                            <option value="83">LAK (Kip)</option>
                            <option value="80">KWD (Kuwaiti Dinar)</option>
                            <option value="101">MWK (Kwacha)</option>
                            <option value="6">AOA (Kwanza)</option>
                            <option value="95">MMK (Kyat)</option>
                            <option value="53">GEL (Lari)</option>
                            <option value="89">LVL (Latvian Lats)</option>
                            <option value="84">LBP (Lebanese Pound)</option>
                            <option value="3">ALL (Lek)</option>
                            <option value="61">HNL (Lempira)</option>
                            <option value="132">SLL (Leone)</option>
                            <option value="86">LRD (Liberian Dollar)</option>
                            <option value="90">LYD (Libyan Dinar)</option>
                            <option value="139">SZL (Lilangeni)</option>
                            <option value="88">LTL (Lithuanian Litas)</option>
                            <option value="87">LSL (Loti)</option>
                            <option value="93">MGA (Malagasy Ariary)</option>
                            <option value="104">MYR (Malaysian Ringgit)</option>
                            <option value="99">MUR (Mauritius Rupee)</option>
                            <option value="102">MXN (Mexican Peso)</option>
                            <option value="103">MXV (Mexican Unidad de Inversion (UDI))</option>
                            <option value="92">MDL (Moldovan Leu)</option>
                            <option value="91">MAD (Moroccan Dirham)</option>
                            <option value="105">MZN (Mozambique Metical)</option>
                            <option value="20">BOV (Mvdol)</option>
                            <option value="107">NGN (Naira)</option>
                            <option value="47">ERN (Nakfa)</option>
                            <option value="106">NAD (Namibia Dollar)</option>
                            <option value="110">NPR (Nepalese Rupee)</option>
                            <option value="5">ANG (Netherlands Antillean Guilder)</option>
                            <option value="66">ILS (New Israeli Sheqel)</option>
                            <option value="121">RON (New Romanian Leu)</option>
                            <option value="147">TWD (New Taiwan Dollar)</option>
                            <option value="111">NZD (New Zealand Dollar)</option>
                            <option value="23">BTN (Ngultrum)</option>
                            <option value="78">KPW (North Korean Won)</option>
                            <option value="109">NOK (Norwegian Krone)</option>
                            <option value="114">PEN (Nuevo Sol)</option>
                            <option value="98">MRO (Ouguiya)</option>
                            <option value="144">TOP (Paanga)</option>
                            <option value="117">PKR (Pakistan Rupee)</option>
                            <option value="172">XPD (Palladium)</option>
                            <option value="97">MOP (Pataca)</option>
                            <option value="38">CUC (Peso Convertible)</option>
                            <option value="155">UYU (Peso Uruguayo)</option>
                            <option value="116">PHP (Philippine Peso)</option>
                            <option value="174">XPT (Platinum)</option>
                            <option value="52">GBP (Pound Sterling)</option>
                            <option value="24">BWP (Pula)</option>
                            <option value="120">QAR (Qatari Rial)</option>
                            <option value="58">GTQ (Quetzal)</option>
                            <option value="180">ZAR (Rand)</option>
                            <option value="112">OMR (Rial Omani)</option>
                            <option value="76">KHR (Riel)</option>
                            <option value="100">MVR (Rufiyaa)</option>
                            <option value="65">IDR (Rupiah)</option>
                            <option value="123">RUB (Russian Ruble)</option>
                            <option value="124">RWF (Rwanda Franc)</option>
                            <option value="131">SHP (Saint Helena Pound)</option>
                            <option value="125">SAR (Saudi Riyal)</option>
                            <option value="169">XDR (SDR (Special Drawing Right))</option>
                            <option value="122">RSD (Serbian Dinar)</option>
                            <option value="127">SCR (Seychelles Rupee)</option>
                            <option value="162">XAG (Silver)</option>
                            <option value="130">SGD (Singapore Dollar)</option>
                            <option value="126">SBD (Solomon Islands Dollar)</option>
                            <option value="75">KGS (Som)</option>
                            <option value="133">SOS (Somali Shilling)</option>
                            <option value="141">TJS (Somoni)</option>
                            <option value="135">SSP (South Sudanese Pound)</option>
                            <option value="85">LKR (Sri Lanka Rupee)</option>
                            <option value="175">XSU (Sucre)</option>
                            <option value="128">SDG (Sudanese Pound)</option>
                            <option value="134">SRD (Surinam Dollar)</option>
                            <option value="129">SEK (Swedish Krona)</option>
                            <option value="30">CHF (Swiss Franc)</option>
                            <option value="138">SYP (Syrian Pound)</option>
                            <option value="13">BDT (Taka)</option>
                            <option value="160">WST (Tala)</option>
                            <option value="148">TZS (Tanzanian Shilling)</option>
                            <option value="82">KZT (Tenge)</option>
                            <option value="146">TTD (Trinidad and Tobago Dollar)</option>
                            <option value="96">MNT (Tugrik)</option>
                            <option value="143">TND (Tunisian Dinar)</option>
                            <option value="145">TRY (Turkish Lira)</option>
                            <option value="142">TMT (Turkmenistan New Manat)</option>
                            <option value="150">UGX (Uganda Shilling)</option>
                            <option value="170">XFU (UIC-Franc)</option>
                            <option value="36">COU (Unidad de Valor Real)</option>
                            <option value="32">CLF (Unidades de fomento)</option>
                            <option value="151" selected="SELECTED">USD (US Dollar)</option>
                            <option value="156">UZS (Uzbekistan Sum)</option>
                            <option value="159">VUV (Vatu)</option>
                            <option value="29">CHE (WIR Euro)</option>
                            <option value="31">CHW (WIR Franc)</option>
                            <option value="79">KRW (Won)</option>
                            <option value="179">YER (Yemeni Rial)</option>
                            <option value="73">JPY (Yen)</option>
                            <option value="34">CNY (Yuan Renminbi)</option>
                            <option value="181">ZMK (Zambian Kwacha)</option>
                            <option value="182">ZWL (Zimbabwe Dollar)</option>
                            <option value="118">PLN (Zloty)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-md-3 control-label">
                    </label>
                    <div class="col-md-9">
                        <select name="is-shown-in-online-booking-engine" class="form-control">
                            <option value="1" selected="">Display on Online Booking Engine</option>
                            <option value="0">Do not display on Online Booking Engine</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-md-3 control-label">
                        Description
                    </label>
                    <div class="col-md-9">
                        <textarea class="enter form-control" rows="4" name="description" type="text" autocomplete="off"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">
                    </label>
                    <div class="col-md-9">
                        <button class="btn btn-default update-rate-plan-button">
                            Update Rate Plan
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>