<div class="nightauditdate">
    <h1>Night Audit & Date Settings</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form>
        <div class="form-group">
            <label for="" class="control-label">Selling Date</label>
            <div class="form-inline">
                <input type="text" class="form-control">
                <button class="btn btn-default">Manually run Night Audit</button>
            </div>
            <p class="help-block">* Do not touch this unless you clearly know what you're doing :o</p>
        </div>
        <div class="form-group">
            <label for="" class="control-label">Automatic Night Audit</label>
            <div class="form-inline">
                <input type="checkbox">
                Run Night Audit automatically after
                <select class="form-control">
                    <option value="a">fsafasfa</option>
                    <option value="a">fsafasfa</option>
                    <option value="a">fsafasfa</option>
                </select>
            </div>
            <p class="help-block">* This option should be disabled if you are manipulating the selling date</p>
        </div>
        <div class="form-group form-inline">
            <input type="checkbox">
            Apply night audit charges to checked-in bookings only (Not reservations)
        </div>
        <div class="form-group form-inline">
            <input type="checkbox">
            Apply night audit charges to checked-in bookings regardless of their check-out date
        </div>
        <div class="form-group">
            <label for="">Default Room Charge Type</label>
            <div class="form-inline">
            <select class="form-control">
                <option value="a">fsafasfa</option>
                <option value="a">fsafasfa</option>
                <option value="a">fsafasfa</option>
            </select>
            </div>
            <p class="help-block">* When Night Audit runs, all in-house guests will be charged with this Charge Type</p>
        </div>
        <div class="form-group">
            <label for="">Automatic Checkout</label>
            <div class="form-inline">
                <input type="checkbox">
                Automatically check-out guests if they are scheduled to check out
            </div>
        </div>
        <button class="btn btn-default col-md-offset-4">Update</button>
    </form>
</div>