<div class="policies">
    <h1>Company Policies</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form>
        <div class="form-group">
            <label for="" class="control-label">Check-in policy (Displayed on registration card)</label>
            <textarea rows="10" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="" class="control-label">Reservation policy (Displayed on online reservation)</label>
            <textarea rows="10" class="form-control"></textarea>
        </div>
        <button class="btn btn-default col-md-offset-4">Update</button>
    </form>
</div>