<div class="room col-md-12">
    <div class="row">
        <div class="Bgc(#ddd) Mt(-20px)">
            <div class="clearfix Px(150px)">
                <ul class="clearfix Bgc(#ddd) Mt(5px) Fz(16px)">
                    <li class="pull-left D(b)"><a data-ui-sref="base3.room.status" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Status</a></li>
                    <li class="pull-left D(b) Mstart(5px)"><a data-ui-sref="base3.room.inventory" class="D(b) Py(8px) Px(15px) Bgc(transparent) Fw(600) C(#000)" data-ui-sref-active="Bgc(white)">Inventory</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <data-ui-view name="room"></data-ui-view>
    </div>
</div>