<div class="inventory Px(20px)">
    <h1>Room Inventory</h1>
    <uib-tabset>
        <uib-tab heading="Online Booking Engine">
            <ng-include src="'room/templates/inventory.tab.html'"></ng-include>
        </uib-tab>
        <uib-tab heading="Booking.com">
            <ng-include src="'room/templates/inventory.tab.html'"></ng-include>
        </uib-tab>
        <uib-tab heading="Expedia">
            <ng-include src="'room/templates/inventory.tab.html'"></ng-include>
        </uib-tab>
    </uib-tabset>
</div>