<div class="status Px(20px)">
    <h1>Room Status</h1>
    <ul class="Fl(start)">
        <li class="Fl(start) Pend(10px) Bdendc(#000) Bdends(s) Bdendw(1px)"><a class="D(b)" href="">Housekeeping Report</a></li>
        <li class="Fl(start) Pstart(10px)"><a class="D(b)" href="">Edit Rooms</a></li>
    </ul>
    <table ng-table="vm.tableParams" show-filter="false" class="table Mt(20px)">
        <tr ng-repeat="room in $data">
            <td title="'Room Name'" filter="{ name: 'text'}" class="text-center">
                {{room.name}}</td>
            <td title="'Room Types'" filter="{ name: 'text'}" class="text-center">
                {{room.name}}</td>
            <td title="'Customer'" filter="{ name: 'text'}" class="text-center">
                {{room.phone}}</td>
            <td title="'Status'" filter="{ name: 'text'}" class="text-center form-group">
                <select class="form-control"
                data-ng-model="room.roomStatusId"
                data-ng-options="roomStatus.id as roomStatus.name for (id, roomStatus) in vm.roomStatusList"
                        ng-change="vm.updateRoom(room)">
                </select>
            </td>
            <td title="'Room Notes'" filter="{ name: 'text'}" class="text-center">
                {{room.note}}</td>
            <td title="''" filter="{ name: 'text'}" class="text-center">
                <button class="btn btn-default"
                data-ng-click="vm.onEditNoteButton_Click(room)">Edit Room Note</button>
            </td>
        </tr>
    </table>
</div>