<div class="forgotpassword col-md-12 Mb(80px)">
    <div class="row">
        <a href="#" class="D(b) Mt(80px)">
            <img src="https://v2.roomsy.com//images/roomsy-logo-big.jpg" alt="ROMSY">
        </a>
    </div>
    <div class="row">
        <h1 class="Fz(36px) Fw(600) Mb(10px)">Reset your password</h1>
        <form class="col-md-offset-4 col-md-4">
            <div class="form-group">
                <input id="Name" name="Name" ng-model="Name" type="email" class="form-control Fz(16px)" placeholder="Email">
            </div>
            <div id="email_error" name="email_error" style="color:red;"></div>
            <button type="submit" class="btn btn-default background-blue Fz(18px) Fw(500) W(100%) C(#fff)" ng-click="ShowAlert()">Get a new password</button>
        </form>
    </div>
</div>