<div class="newproperty">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h4>Add Property</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="" class="control-label col-md-3 Fw(600)">Property Name</label>
                <div class="col-md-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-3 Fw(600)">Number of Rooms</label>
                <div class="col-md-9">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-3 Fw(600)">Region</label>
                <div class="col-md-9">
                    <select class="form-control">
                        <option value="8746">North America</option>
                        <option value="8746">Australia and New Zealand</option>
                        <option value="8746">Asia</option>
                        <option value="8746">Europe and Africa</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-md-3 Fw(600)">Pricing Plan</label>
                <div class="col-md-9">
                    <select class="form-control">
                        <option value="8746">Basic</option>
                        <option value="8746">Premium</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success background-green" ng-click="ok()">Add Property</button>
        <button class="btn background-graywhite" ng-click="cancel()">Close</button>
    </div>
</div>