<div class="newproperty">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h4>Add Property</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-3 Fw(600)">Property Name</label>
                <div class="col-md-9">
                    <input type="text" class="form-control"  ng-model="property.name" >
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-md-3 Fw(600)">Number of Rooms</label>
                <div class="col-md-9">
                    <input type="text" class="form-control" ng-model="property.rooms">
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-md-3 Fw(600)">Region</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="property.region">
                        <option value="North America">North America</option>
                        <option value="Australia and New Zealand">Australia and New Zealand</option>
                        <option value="Asia">Asia</option>
                        <option value="Europe and Africa">Europe and Africa</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label  class="control-label col-md-3 Fw(600)">Pricing Plan</label>
                <div class="col-md-9">
                    <select class="form-control" ng-model="property.Pricing">
                        <option value="Basic">Basic</option>
                        <option value="Premium">Premium</option>
                    </select>
                </div>
            </div>
        </form>
        {{property}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-success background-green" ng-click="ok()">Add Property</button>
        <button class="btn background-graywhite" ng-click="cancel()">Close</button>
    </div>
</div>
