<div class="home">
    <div class="Mt(78px) Px(40) Pt(50px) Px(50px) Ta(c) Bgc(#76a3a0)">
        <p class="C(#fff) Fw(600) Fz(44px)"><span class="C(#ffecb0)">EASY</span> PROPERTY MANAGEMENT SYSTEM</p>
        <div class="Bdc(#5c8a87) Bds(s) Bdw(2px) Mt(10px)"></div>
        <p class="C(#bdd3d2) Fw(300) Fz(24px) Mt(10px)"><span class="C(#bdd3d2)">Perfect</span> solution for hotels, motels, hostels, apartments, RV parks, and more!</p>
        <div>
            <a data-ui-sref="base2.register" class="btn btn-danger Px(35px) Py(20px) Mt(10px)">START YOUR FREE TRIAL</a>
            <div class="sub-signup Mt(10px) C(#fff)">No credit card required, no software to install</div>
        </div>
        <div class="row Mt(40px)">
            <div class="col-md-4">
                <a href="#">
                    <img class="W(100%)" alt="Customer Testimonial" src="http://roomsy.com/assets/images/browser-testimonial.png">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <img class="W(100%)" alt="Watch demo" src="http://roomsy.com/assets/images/browser-window1.png">
                </a>
            </div>
            <div class="col-md-4">
                <a href="#">
                    <img class="W(100%)" alt="Roomsy Tour" src="http://roomsy.com/assets/images/tour-1.png">
                </a>
            </div>
        </div>
    </div>
    <div class="Ta(c) Py(30px)"
         style="background: transparent url('http://roomsy.com/assets/images/stripped-bg.png') left top repeat;">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <p class="Fw(700) Lh(20px) C(#3d3b36)">Roomsy manages</p>
                    <p class="Fw(700) Lh(20px) C(#3d3b36) Fz(41.25px) My(10px)">72,047</p>
                    <p class="Fw(700) Lh(20px) C(#3d3b36)">rooms</p>
                </div>
                <div class="col-md-3">
                    <p class="Fw(700) Lh(20px) C(#3d3b36)">processed</p>
                    <p class="Fw(700) Lh(20px) C(#3d3b36) Fz(41.25px) My(10px)">446,149</p>
                    <p class="Fw(700) Lh(20px) C(#3d3b36)">bookings</p>
                </div>
                <div class="col-md-3">
                    <p class="Fw(700) Lh(20px) C(#3d3b36)">accomodated</p>
                    <p class="Fw(700) Lh(20px) C(#3d3b36) Fz(41.25px) My(10px)">379,827</p>
                    <p class="Fw(700) Lh(20px) C(#3d3b36)">guests</p>
                </div>
                <div class="col-md-3">
                    <p class="Fw(700) Lh(20px) C(#3d3b36)">in</p>
                    <p class="Fw(700) Lh(20px) C(#3d3b36) Fz(41.25px) My(10px)">41</p>
                    <p class="Fw(700) Lh(20px) C(#3d3b36)">countries</p>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center Bgc(#6c7065) Py(60px)">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="glyphicon glyphicon-dashboard Fz(50px) C(#fff)"></i>
                    <h5 class="Mt(20px) C(#cccccc) Fz(20px) Fw(700) Tt(u)">Property Management System</h5>
                    <div class="Bdbw(2px) Bdbs(s) Bdbc(#797d71) Mt(5px) Mb(5px)"></div>
                    <p class="C(#b8bbb3) Fz(16px) Lh(20px)">Roomsy is cloud-based Property Management System. Information is stored on the cloud so you can access your information anywhere there’s internet. There’s no need for installations, maintenance, or backups. All this is handled for you.</p>
                </div>
                <div class="col-md-4">
                    <i class="glyphicon glyphicon-bullhorn Fz(50px) C(#fff)"></i>
                    <h5 class="Mt(20px) C(#cccccc) Fz(20px) Fw(700) Tt(u)">Website + Booking Engine</h5>
                    <div class="Bdbw(2px) Bdbs(s) Bdbc(#797d71) Mt(5px) Mb(5px)"></div>
                    <p class="C(#b8bbb3) Fz(16px) Lh(20px)">Roomsy builds a beautiful website for your property. Update your website with ease. Also, our booking engine lets you receive reservations directly from your website. It integrates with the rest of Property Management System, storing all your information in one place.</p>
                </div>
                <div class="col-md-4">
                    <i class="glyphicon glyphicon-bullhorn Fz(50px) C(#fff)"></i>
                    <h5 class="Mt(20px) C(#cccccc) Fz(20px) Fw(700) Tt(u)">Channel Manager Integration</h5>
                    <div class="Bdbw(2px) Bdbs(s) Bdbc(#797d71) Mt(5px) Mb(5px)"></div>
                    <p class="C(#b8bbb3) Fz(16px) Lh(20px)">Roomsy is connected to Online Travel Agencies such as Booking.com, and we are constantly developing new integrations.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="Bgc(#e9ece2)">
        <div class="text-left Py(10px)">
            <div class="container">
                <h3 class="Fz(26px) Fw(400) C(#000) Mb(10px)">Client Testimonials</h3>
                <div class="Bdw(2px) Bdc(#e3e4dd) Bds(s)"></div>
                <div class="row Mt(20px)">
                    <div class="col-md-3">
                        <div class="Bgc(#fff) Px(10px) Py(5px)">
                            <div>
                                <img src="http://roomsy.com/assets/images/testimonial-traveliermotel.png" alt="">
                            </div>
                            <p class="Fw(600) Fz(16px) C(#31302e) Mt(10px)">Jay</p>
                            <p class="Fw(600) Fz(16px) C(#31302e) Mb(10px)">Owner, Travelier Motel</p>
                            <div class="Bdw(1px) Bdc(#cfd1c6) Bds(s)"></div>
                            <p class="C(#4f4e4c) Fz(15px) Lh(20px) Mt(10px)">Roomsy has been a real blessing to our hotel. It’s simple and makes check in and check out run smoother and faster. We get more bookings through our website now than any time before.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="Bgc(#fff) Px(10px) Py(5px)">
                            <div>
                                <img src="http://roomsy.com/assets/images/testimonial-traveliermotel.png" alt="">
                            </div>
                            <p class="Fw(600) Fz(16px) C(#31302e) Mt(10px)">Jay</p>
                            <p class="Fw(600) Fz(16px) C(#31302e) Mb(10px)">Owner, Travelier Motel</p>
                            <div class="Bdw(1px) Bdc(#cfd1c6) Bds(s)"></div>
                            <p class="C(#4f4e4c) Fz(15px) Lh(20px) Mt(10px)">Roomsy has been a real blessing to our hotel. It’s simple and makes check in and check out run smoother and faster. We get more bookings through our website now than any time before.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="Bgc(#fff) Px(10px) Py(5px)">
                            <div>
                                <img src="http://roomsy.com/assets/images/testimonial-traveliermotel.png" alt="">
                            </div>
                            <p class="Fw(600) Fz(16px) C(#31302e) Mt(10px)">Jay</p>
                            <p class="Fw(600) Fz(16px) C(#31302e) Mb(10px)">Owner, Travelier Motel</p>
                            <div class="Bdw(1px) Bdc(#cfd1c6) Bds(s)"></div>
                            <p class="C(#4f4e4c) Fz(15px) Lh(20px) Mt(10px)">Roomsy has been a real blessing to our hotel. It’s simple and makes check in and check out run smoother and faster. We get more bookings through our website now than any time before.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="Bgc(#fff) Px(10px) Py(5px)">
                            <div>
                                <img src="http://roomsy.com/assets/images/testimonial-traveliermotel.png" alt="">
                            </div>
                            <p class="Fw(600) Fz(16px) C(#31302e) Mt(10px)">Jay</p>
                            <p class="Fw(600) Fz(16px) C(#31302e) Mb(10px)">Owner, Travelier Motel</p>
                            <div class="Bdw(1px) Bdc(#cfd1c6) Bds(s)"></div>
                            <p class="C(#4f4e4c) Fz(15px) Lh(20px) Mt(10px)">Roomsy has been a real blessing to our hotel. It’s simple and makes check in and check out run smoother and faster. We get more bookings through our website now than any time before.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center Py(10px)">
            <div class="container">
                <h3 class="Fz(26px) Fw(400) C(#000) Mb(10px) text-left">World ♥ Roomsy</h3>
                <div class="Bdw(2px) Bdc(#e3e4dd) Bds(s)"></div>
                <div class="row Mt(20px)">
                    <div class="col-md-2">
                        <div class="Px(10px) Py(10px) Bgc(#fff)">
                            <div>
                                <img src="http://roomsy.com/assets/images/client-crossroadsmotel.png" alt="">
                            </div>
                            <a href="http://www.crossroadskindersley.ca" class="Mt(10px)">Crossroads Motel</a>
                            <p class="Mt(5px) Fz(15px)">Saskatchewan, Canada</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="Px(10px) Py(10px) Bgc(#fff)">
                            <div>
                                <img src="http://roomsy.com/assets/images/client-crossroadsmotel.png" alt="">
                            </div>
                            <a href="http://www.crossroadskindersley.ca" class="Mt(10px)">Crossroads Motel</a>
                            <p class="Mt(5px) Fz(15px)">Saskatchewan, Canada</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="Px(10px) Py(10px) Bgc(#fff)">
                            <div>
                                <img src="http://roomsy.com/assets/images/client-crossroadsmotel.png" alt="">
                            </div>
                            <a href="http://www.crossroadskindersley.ca" class="Mt(10px)">Crossroads Motel</a>
                            <p class="Mt(5px) Fz(15px)">Saskatchewan, Canada</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="Px(10px) Py(10px) Bgc(#fff)">
                            <div>
                                <img src="http://roomsy.com/assets/images/client-crossroadsmotel.png" alt="">
                            </div>
                            <a href="http://www.crossroadskindersley.ca" class="Mt(10px)">Crossroads Motel</a>
                            <p class="Mt(5px) Fz(15px)">Saskatchewan, Canada</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="Px(10px) Py(10px) Bgc(#fff)">
                            <div>
                                <img src="http://roomsy.com/assets/images/client-crossroadsmotel.png" alt="">
                            </div>
                            <a href="http://www.crossroadskindersley.ca" class="Mt(10px)">Crossroads Motel</a>
                            <p class="Mt(5px) Fz(15px)">Saskatchewan, Canada</p>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="Px(10px) Py(10px) Bgc(#fff)">
                            <div>
                                <img src="http://roomsy.com/assets/images/client-crossroadsmotel.png" alt="">
                            </div>
                            <a href="http://www.crossroadskindersley.ca" class="Mt(10px)">Crossroads Motel</a>
                            <p class="Mt(5px) Fz(15px)">Saskatchewan, Canada</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" text-center Py(10px)">
            <div class="container">
                <div class="Py(30px) Bdtw(1px) Bdts(d) Bdtc(#cec6ae) Bdbw(1px) Bdbs(d) Bdbc(#cec6ae)">
                    <a data-ui-sref="base2.register" class="btn btn-danger Py(20px) Px(35px)">START YOUR FREE TRIAL</a>
                </div>
            </div>
        </div>
    </div>
</div>