<div class="invoiceemail">
    <h1 class="Fz(30px) Fw(600)">Invoice Email Settings</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form class="Mt(20px)" method="post" action="https://v2.roomsy.com/settings/email/save_invoice_email">
        <fieldset>
            <ul>
                <li>
                    <input name="send_invoice_email_automatically" type="checkbox" autocomplete="off"> Automatically send email to the guest upon checkout
                </li>
                <li>
                    <input name="ask_for_review_in_invoice_email" type="checkbox" autocomplete="off"> Ask the guest for review on the invoice email

                </li>
                <li class="ask-for-review" style="display: none;">
                    <input name="redirect_to_trip_advisor" type="checkbox" autocomplete="off"> If the guest leaves 4 out of 5 star feedback or better, redirected him/her to TripAdvisor page below:
                    <br>
                    TripAdvisor Review Page URL: <input type="text" name="tripadvisor_link" value="" size="50"> (must include http://)
                </li>
            </ul>
        </fieldset>


        <fieldset>
            <h2>
                Invoice email template
            </h2>
            <ul>
                <li>
                    Dear [customer name],
                    <br><br>
                </li>
                <li>
                    <textarea name="invoice_email_header" style="width:680px;height:180px;resize:none;"></textarea>
                </li>
                <li>
                    <br>
                    Please visit the following link to view your invoice: <a href="#">[invoice link]</a>
                </li>
                <li class="ask-for-review" style="display: none;">
                    <br>
                    We care. Let us know about your experience by visiting here: <a href="#">[review page link]</a>
                </li>
                <li>
                    <br><br>Thank you for your business,<br><br>
                    vo minh quoc				<br>
                    sliverwestlife4@gmail.com				<br>
                    +84978678789				<br>
                </li>


            </ul>
        </fieldset>
        <div class="col-sm-12 text-center">
            <input type="submit" name="submit" class="btn btn-default" value="Update">
        </div>
    </form>
</div>