<div class="invoiceemail">
    <h1 class="Fz(30px) Fw(600)">Invoice Email Settings</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form class="Mt(20px)"
    novalidate
    name="vm.modelInvoiceForm.$selector">
        <fieldset>
            <ul>
                <li>
                    <input name="send_invoice_email_automatically" type="checkbox" autocomplete="off"
                    data-ng-model="vm.invoiceEmailForm.data.sendInvoiceEmailAutomatically"> Automatically send email to the guest upon checkout
                </li>
                <li>
                    <input name="ask_for_review_in_invoice_email" type="checkbox" autocomplete="off"
                    data-ng-model="vm.invoiceEmailForm.data.askForReviewInInvoiceEmail"> Ask the guest for review on the invoice email

                </li>
            </ul>
        </fieldset>
        <fieldset>
            <h2>
                Invoice email template
            </h2>
            <ul>
                <li>
                    Dear [customer name],
                    <br><br>
                </li>
                <li>
                    <textarea name="invoice_email_header" style="width:680px;height:180px;resize:none;"
                    data-ng-model="vm.invoiceEmailForm.data.invoiceEmailHeader"></textarea>
                </li>
                <li>
                    <br>
                    Please visit the following link to view your invoice: <a href="#">[invoice link]</a>
                </li>
                <li class="ask-for-review" style="display: none;">
                    <br>
                    We care. Let us know about your experience by visiting here: <a href="#">[review page link]</a>
                </li>
                <li>
                    <br><br>Thank you for your business,<br><br>
                    vo minh quoc				<br>
                    sliverwestlife4@gmail.com				<br>
                    +84978678789				<br>
                </li>
            </ul>
        </fieldset>
        <div class="col-sm-12 text-center">
            <input type="submit" name="submit" class="btn btn-default" value="Update"
            data-ng-click="vm.onInvoiceEmailUpdateButton_Click()">
        </div>
    </form>
</div>