<div class="historycustomer col-md-12 Mb(240px)">
    <form class="form-inline Mt(20px) Bdw(1px) Bds(s) Bdc(#ddd) P(15px) Bdrs(5px) Fz(18px)">
        <div class="form-group">
            <select class="form-control col-md-4 Fz(18px)" name="customer_type_id">
                <option value="">All Customer Types</option>
                <option value="Traveller">Traveller</option>
            </select>
        </div>
        <div class="form-group">
            <label for="">bookings between</label>
            <input class="form-control" type="date" datepicker-popup>
        </div>
        <div class="form-group">
            <label for="">and</label>
            <input class="form-control" type="date" datepicker-popup>
        </div>
        <div class="form-group">
            <label for="">that are</label>
            <select class="form-control Fz(18px)" name="customer_type_id">
                <option value="">paid or unpaid</option>
                <option value="Traveller">paid</option>
                <option value="Traveller">unpaid</option>
            </select>
        </div>
        <button class="btn btn-default">
            <span class="glyphicon glyphicon-search Mend(5px)"></span>Filter
        </button>
    </form>
    <form class="form-inline clearfix Mt(20px) Bdw(1px) Bds(s) Bdc(#ddd) P(15px) Bdrs(5px) Fz(18px)">
        <div class="pull-left">
            <button class="btn btn-default">Edit Profile</button>
            <button class="btn btn-danger">Add Payment(s)</button>
            <button class="btn btn-primary">Print statement</button>
        </div>
        <div class="pull-right">
            <span>Legend:</span>
            <span class="Bgc(#e6f3ff) P(10px)">Reservation</span>
            <span class="Bgc(#dffea7) P(10px)">Checked in</span>
            <span class="Bgc(#ffe6aa) P(10px)">Checked out</span>
            <span class="Bgc(#eeeeee) P(10px)">Cancelled</span>
        </div>
    </form>
    <table ng-table="vm.tableParams" show-filter="false" class="table Mt(20px)">
        <tr ng-repeat="user in $data">
            <td title="'ID'" filter="{ name: 'text'}" class="text-center">
                {{user.$id}}</td>
            <td title="'Room'" filter="{ name: 'text'}" sortable="'name'" class="text-center">
                {{user.name}}</td>
            <td title="'Staying Guest(s)'" filter="{ name: 'text'}" class="text-center">
                {{user.phone}}</td>
            <td title="'Check-in'" filter="{ name: 'text'}" sortable="'lastCheckOut'" class="text-center">
                {{user.name}}</td>
            <td title="'Check-out'" filter="{ name: 'text'}" sortable="'chargeTotal'" class="text-center">
                {{user.name}}</td>
            <td title="'Sub-total'" filter="{ name: 'text'}" class="text-center">
                {{user.name}}</td>
            <td title="'Tax'" filter="{ age: 'number'}">
                <div class="text-center">{{user.age}}</div>
            </td>
            <td title="'Charge'" filter="{ age: 'number'}" sortable="'balance'">
                <div class="text-center">{{user.age}}</div>
            </td>
            <td title="'Payment'" filter="{ age: 'number'}" sortable="'balance'">
                <div class="text-center">{{user.age}}</div>
            </td>
            <td title="'Balance'" filter="{ age: 'number'}" sortable="'balance'">
                <div class="text-center">{{user.age}}</div>
            </td>
        </tr>
    </table>
    <div>
        <p>Bookings that this customer did not reserve, but stayed in</p>
        <table ng-table="vm.tableParams" show-filter="false" class="table Mt(20px)">
            <tr ng-repeat="user in $data">
                <td title="'ID'" filter="{ name: 'text'}" class="text-center">
                    {{user.$id}}</td>
                <td title="'Room'" filter="{ name: 'text'}" sortable="'name'" class="text-center">
                    {{user.name}}</td>
                <td title="'Reserved by'" filter="{ name: 'text'}" class="text-center">
                    {{user.phone}}</td>
                <td title="'Check-in'" filter="{ name: 'text'}" sortable="'lastCheckOut'" class="text-center">
                    {{user.name}}</td>
                <td title="'Check-out'" filter="{ name: 'text'}" sortable="'chargeTotal'" class="text-center">
                    {{user.name}}</td>
            </tr>
        </table>
    </div>
</div>
