<div class="chargetypes">
    <h1 class="Fz(30px) Fw(600)">Charge Type Settings</h1>
    <p class="Mt(5px)">Click existing fields to edit.</p>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <table id="other-charge-types-table" class="table Mt(20px)">
        <tbody><tr>
            <th class="text-left">Charge Type</th>
            <th class="text-left">Applicable Taxes</th>
            <th class="text-center">Room Charge</th>
            <th class="text-center">Delete</th>
        </tr>
        <tr id="8490026128">
            <td class="text-left">
                <div class="charge-type-name-editable" id="8490026128" title="Click to edit...">Room Charge</div>
            </td>
            <td class="text-left">
                No Taxes Recorded.
            </td>
            <td class="text-center">
                <input class="room-charge-type" type="checkbox" value="8490026128" name="is_room_charge_type" autocomplete="off" checked="checked">
            </td>
            <td class="text-center">

            </td>
        </tr>
        <tr id="8490026131">
            <td class="text-left">
                <div class="charge-type-name-editable" id="8490026131" title="Click to edit...">Service Charge</div>
            </td>
            <td class="text-left">
                No Taxes Recorded.
            </td>
            <td class="text-center">
                <input class="room-charge-type" type="checkbox" value="8490026131" name="is_room_charge_type" autocomplete="off">
            </td>
            <td class="text-center">
                <div class="delete-charge-type btn btn-default" id="8490026131">X</div>
            </td>
        </tr>
        <tr id="8490026134">
            <td class="text-left">
                <div class="charge-type-name-editable" id="8490026134" title="Click to edit...">Gratuity</div>
            </td>
            <td class="text-left">
                No Taxes Recorded.
            </td>
            <td class="text-center">
                <input class="room-charge-type" type="checkbox" value="8490026134" name="is_room_charge_type" autocomplete="off">
            </td>
            <td class="text-center">
                <div class="delete-charge-type btn btn-default" id="8490026134">X</div>
            </td>
        </tr>
        </tbody>
    </table>
    <button id="add-charge-type" class="btn btn-default">Add Charge Type</button>
</div>