<div class="customertypes">
    <h1 class="Fz(30px) Fw(600)">Customer Types</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <table id="customer-types" class="table Mt(20px)">
        <tbody><tr>
            <th>Customer Type Name</th>
            <th>Delete</th>
        </tr>


        <tr class="customer-type-tr" id="8746">
            <td>
                <input name="customer-type-name" class="form-control" type="text" value="Traveller" maxlength="45" style="width:250px">
            </td>
            <td>
                <div class="delete-customer-type btn btn-default">X</div>
            </td>
        </tr>

        </tbody>
    </table>
    <button id="add-customer-type" class="btn btn-default">Add Customer Type</button>
    <button id="save-all-customer-types-button" class="btn btn-primary">Save All</button>
</div>