<div class="invoice">
    <h1 class="Fz(30px) Fw(600)">Invoice Settings</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form class="Mt(20px)"
    novalidate
    name="vm.invoiceForm.$selector">
        <div class="form-group">
            <label class="Fw(600)">Invoice header</label>
            <textarea class="form-control" rows="5"
            name="invoiceHeader"
            data-ng-model="vm.invoiceForm.data.invoiceHeader"></textarea>
        </div>
        <div class="form-group text-center">
            <input type="submit" name="submit" class="btn btn-default" value="Update Company Info"
            data-ng-click="vm.onInvoiceUpdateButton_Click()">
        </div>
    </form>
</div>