<div class="paymenttypes">
    <h1 class="Fz(30px) Fw(600)">Payment Types Settings</h1>
    <p class="Mt(5px)">Click existing fields to edit.</p>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <table class="table">
        <tbody><tr>
            <th>Payment Type</th>
            <th>Delete</th>
        </tr>
        <tr>
            <td>
                <div class="payment-type-name-editable" id="8490049198" title="Click to edit...">AMEX</div>
            </td>
            <td>
                <div class="delete-payment-type btn btn-default" id="8490049198">X</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="payment-type-name-editable" id="8490049201" title="Click to edit...">Mastercard</div>
            </td>
            <td>
                <div class="delete-payment-type btn btn-default" id="8490049201">X</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="payment-type-name-editable" id="8490049204" title="Click to edit...">Visa</div>
            </td>
            <td>
                <div class="delete-payment-type btn btn-default" id="8490049204">X</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="payment-type-name-editable" id="8490049207" title="Click to edit...">Debit</div>
            </td>
            <td>
                <div class="delete-payment-type btn btn-default" id="8490049207">X</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="payment-type-name-editable" id="8490049210" title="Click to edit...">Cash</div>
            </td>
            <td>
                <div class="delete-payment-type btn btn-default" id="8490049210">X</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="payment-type-name-editable" id="8490049213" title="Click to edit...">Gift Card</div>
            </td>
            <td>
                <div class="delete-payment-type btn btn-default" id="8490049213">X</div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="payment-type-name-editable" id="8490049216" title="Click to edit...">Cheque</div>
            </td>
            <td>
                <div class="delete-payment-type btn btn-default" id="8490049216">X</div>
            </td>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default">Add Payment Type</button>
</div>