<div class="paymentgateways">
    <h1 class="Fz(30px) Fw(600)">Payment Gateway Settings</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <form class="form-horizontal Mt(20px)">
        <div class="form-group">
            <label for="" class="control-label col-md-4">Current Payment Gateway</label>
            <div class="col-md-8">
            <input type="text" class="form-control">
            </div>
        </div>
        <div class="form-group text-center">
            <div class="btn btn-default" id="update-button">Update</div>
        </div>
    </form>
</div>