<div class="taxtypes">
    <h1 class="Fz(30px) Fw(600)">Tax Types Settings</h1>
    <div class="Bdc(#eee) Bds(s) Bdw(1px) W(100%) Mt(20px)"></div>
    <p class="Mt(20px)">No tax records have been found.</p>
    <table id="tax-types" class="table Mt(10px)">
        <tbody><tr>
            <th>Tax Name</th>
            <th>Tax Rate</th>
            <th>Unit</th>
            <th>Delete</th>
        </tr>
        </tbody>
    </table>
    <button class="btn btn-default">Add Tax Type</button>
    <button class="btn btn-default">Save All</button>
</div>